--- 
layout: landing 

--- 
{% for post in site.posts %}
<div class="col s12 m3">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="card">
            <div class="card-image">
                <img src="{{ site.baseurl }}{{ post.image }}" width="100%" />
                <span class="card-title" style="font-size: 100%;">{{ post.title }}</span>
                <a href="{{ post.url | prepend: site.baseurl }}" class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="material-icons">subdirectory_arrow_right</i>
                </a>
            </div>
            <div class="card-content">
                {%if page.short %}Short URL: <a href="{{ page.short.url }}" target="_blank">{{ page.short.hash }}</a>{% endif %}
                {%if post.short %}Short URL: <a href="{{ post.short.url }}" target="_blank">{{ post.short.hash }}</a>{% endif %}

                <p> {{ post.excerpt }}...</p>
            </div>
        </div>
    </a>
</div>
{% endfor %}
